<!-- <h1>Shopper#index</h1>
<p>Find me in app/views/shopper/index.html.erb</p>
 -->

<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>Product Catalog</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image, size: '20x90') %>
		<h3><%= product.name %></h3>
		<span style = "margin-left: 100px;">
		<%= sanitize(product.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
			<!-- class is not necessary, but to show how to add class -->
			<%= button_to 'Add to Cart', lineitems_path(product_id: product), class: 'add_to_cart', remote:true %>

		</div>
	</div>
<% end %>

